name: Deploy to Render

# Trigger on pushes to the main branch
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    name: Deploy to Render
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Deploy Render
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.RENDER_SERVICE_ID }}
          api-key: ${{ secrets.RENDER_API_KEY }}
